push argument 1 
push argument 2 
gt 
not 
if-goto L0 
push constant 3 
pop argument 1 
goto L1 
label L0 
label L1 
label L2 
push argument 1 
push argument 2 
add 
push constant 30 
call Math.multiply 2 
push constant 100 
push constant 10 
sub 
gt 
not 
if-goto L3 
push argument 1 
push constant 1 
add 
pop argument 1 
goto L2 
label L3 
